@model ICollection<Digital_Planner.Models.Event>

@{
    var week_events_by_day = Model
        .Where(e => (e.OccursAt.DayOfYear - DateTime.Today.DayOfYear >= 0 && e.OccursAt.DayOfYear - DateTime.Today.DayOfYear < 7) || (e.CompleteBy.DayOfYear - DateTime.Today.DayOfYear >= 0 && e.CompleteBy.DayOfYear - DateTime.Today.DayOfYear < 7))
        .GroupBy(e => e.OccursAt.DayOfYear);
}
<table class="table table-hover table-responsive">
    @{ 
        var offset = 0;
    }
    @foreach (var events in week_events_by_day)
    {
        @Html.Partial("_Day", new Tuple<DateTime, ICollection<Digital_Planner.Models.Event>>(DateTime.Today.AddDays(offset++), Model))
        

        @*
        <tr>
            <th colspan="7" class="text-center"><h4>@day.First().OccursAt.DayOfWeek, @day.First().OccursAt.ToShortDateString()</h4></th>
        </tr>
        <tr>
            <th class="text-center">Category</th>
            <th class="text-center">Time</th>
            <th class="text-center">Title</th>
            <th class="text-center">Completion Time</th>
            <th class="text-center">Completed</th>
            <!-- Blank header for styling -->
            <th colspan="2"></th>
        </tr>

        foreach (var cat in day.OrderBy(e => e.Priority).GroupBy(e => e.CategoryID))
        {
            @Html.Partial("_Category", cat);
        }

        <!-- Blank row for styling -->
        <tr><td colspan="7"></td></tr>
        *@
    }
</table>

