body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Override Bootstrap coloring of <a> */
.black-link {
    color: #333 !important;
}


/* Bootstrap styles table headers with text-left, this corrects that */
th {
    text-align:center !important;
}

/* Bootstrap doesn't automatically vert-align table data */
/* Bootstrap doesn't automatically center-text table data */
td {
    vertical-align: middle !important;
    text-align: center !important;
}

a.btn:hover {
    text-decoration-line: none !important;
    vertical-align: middle !important;
    text-align:right !important;
}

.month_day_header {
    display:inline-block;
    margin-left: 1.75em;
    margin-right: 1.75em;
}

.month_day_number {
    text-align: left !important;
    padding-left: 1.25em !important;
}

.month_day_availability {
    text-align: right !important;
    padding-right: 1.25em !important;
}

/* Remove negative margin from rows */
.DateSelector .row,
.TimeSelector .row,
.DateTimeSelector .row{
    margin: 0 !important;
}

/* 
    The arrows are links in the timepicker;
        This conflicts with the <a> rules above
    Color comes from the orignal hover state
*/
.bootstrap-datetimepicker-widget a:hover {
    /*  vertical-align: middle !important;  */
    text-align: center !important;
    color: #333 !important;
}

/*
.bootstrap-datetimepicker-widget > .row {
    margin: 0 !important;
}*/

.timepicker-picker table,
.timepicker-picker table td a span,
.timepicker-picker table td,
.timepicker-picker table td span {
    height: 30px !important;
    line-height: 2em !important;
    width: 2em !important;
    line-height: 2em !important;
    padding: 0 !important;
}