body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Override Bootstrap coloring of <a> */
.black-link {
    color: #333 !important;
}


/* Bootstrap styles table headers with text-left, this corrects that */
th {
    text-align:center !important;
}

/* Bootstrap doesn't automatically vert-align table data */
/* Bootstrap doesn't automatically center-text table data */
td {
    vertical-align: middle !important;
    text-align: center !important;
}

a.btn:hover {
    text-decoration-line: none !important;
    vertical-align: middle !important;
}
